header section{
  /* modo de separação */
  justify-content: space-between;
  /* modo de alinhamento entre os itens */
  align-items: center;

}

header nav ul{
  padding: 0 !important;
}

header nav ul{
  display: flex;
  align-items: center;
  flex-direction: row;
}

header nav ul li a{
  margin:  0 15px;
  color:#3399cc;
}
