/* fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap');
/* O @import importa outros arquivos */
/* Dessa forma podemos organizar e linkar no index somente um arquivo */
@import "./header.css";
@import "./buttons.css";
@import "./main.css";
@import "./footer.css";
@import "./responsive.css";

/*  O * seferencia todas as tags */
/* isso serve para resetar o css do site */
* { 
  margin: 0; 
  border: 0;
  font-weight: 300;
  vertical-align: baseline;
  /* none retira todos as decoração presentas nos textos */
  text-decoration: none;
    /* none retira todos os stylos presentas nas lista */
  list-style: none;
  }
  /* fontes do google */
  .source-sans {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing:auto;
    font-weight:300;
    font-style:normal;
  }
  
  body{
    background-image: url(../images/bolha-background.png);
    background-repeat:no-repeat;
    background-position: left center;
  }
  .container{
      /* tamanho e margem da caixa agindo no header e main*/
  width: 1024px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  }

  .row{
    /* tipo de display */
    display: flex;
    /* direção do display linha ou coluna */
    flex-direction: row;
  }